.vscode
project/model/weights
project/model/__pycache__
project/static/results

project/backend/__pycache__
project/backend/static/results
project/backend/api/__pycache__
project/backend/services/__pycache__
project/backend/temp/uploads

project/frontend/node_modules
